<div id="nav-bar">
    <select @change="typeOfNote">
        <option value="general-note">General Note</option>
        <option value="financial-note">Financial Note</option>
        <option value="reminder-note">Reminder Note</option>
    </select>
</div>